*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

/* classi comuni  */
.flex{
    display: flex;
}

.flex-column{
    display: flex;
    flex-direction: column;
}
/* /classi comuni  */

.background{
    height: 100vh;
    background-color: #dadbd4;
}

.backgroung-top-green{
    background-color: #009688;
    height: calc(100vh - 85%);
}

.main-app{
    margin: 0 auto;
    background-color: aquamarine;
    width: 1000px;
    height: 700px;
 
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.left-side{
    /* background-color: rgb(197, 197, 255); */
    background-color: white;
    width: calc(100% - 70%);
    height: 100%;
}

.header{
    background-color: #eaeaea;
    align-items: center;
    justify-content: space-between;
    /* padding: 0 .2rem; */
}

.user{
    align-items: center;
    cursor: pointer;
}

.header .img-user,
.contact .contact-img{
    width: 50px;
    border-radius: 50%;
    margin: .3rem;
}

.header-icons{
    margin-right: .8rem;
}

.header-icons i{
    color: #b1b1b1;
    margin: 0 .2rem;
    font-size: 1.2em;
    cursor: pointer;
}

.right-side{
    background-color: rgb(187, 247, 255);
    width: calc(100% - 30%);
    height: 100%;
}
.notice-banner{
    background-color: #8edafc;
    padding: .5rem;
}

.notice-banner .circle-container{
    background-color: white;
    border-radius: 50%;
    padding: .3rem;
}

.notice-banner .circle-container i{
    color: #8edafc;
    font-size: 1.3rem;
}

.notice-banner .text span{
    display: block;
}

.search-bar{
    border: 1px solid lightgray;
    margin: .5rem;
}

.search-bar form input{
    width: 100%;
    height: 2rem;
    border: none;
    padding: 1rem;
}

.search-bar form i{
    color: lightgrey;
}

.search-bar .fa{
    /* font-family: Arial, Helvetica, sans-serif; */
    color: #8edafc;
}

.contact{
    /* align-items: center; */
    cursor: pointer;
    border-bottom: 1px solid lightgray;
    position: relative; 
}

/* .contact active */
.active{
    background-color: #e9ebeb;
}

.contact .info,
.selected-contact .info{
    padding-top: .5rem;
}

.contact .last-message,
.contact .time,
.selected-contact .last-access{
    font-size: .7em;
    color: #b1b1b1;
}

.contact .time{
    position: absolute;
    top:5px;
    right: 5px;
}



/* PARTE DESTRA  */
.right-side{
    position: relative;
}
.messages-container{
    height: 100%;
    width: 100%;
    background-image: url("../img/mine.jpg");
}

.messages-container .my-message{ /* classe messaggi miei */
    background-color: #d5f9ba;
}
.messages-container .recived-message{ /* classe messaggi ricevuti */
    background-color: #ffffff;
}

.messages-container .message{ /* classe comune messaggi  */
    border-radius: 5px;
    padding: 1rem;
    margin: 1rem;
}

.messages-container .conversation .time{
    font-size: .7em;
    color: rgb(161, 161, 161);
}


.messages-container .insert-message{
    /* width: 100%; */
    background-color: #f3eeea;
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
}

.messages-container .insert-message textarea{
    border: none;
    margin: .5rem .5rem;
    width: 80%;
    border-radius: 5px;
}

.messages-container .insert-message i{
    color: #6b7376;
    font-size: 1.1rem;
}