<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
        integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div class="background">
        <div class="backgroung-top-green">


            <div id="app" class="main-app flex">
                <!-- parte sinistra -->
                <div class="left-side flex-column">
                    <header class="header flex">
                        <div class="user flex">
                            <img class="img-user" :src="'img/avatar' + mainUser.contactImg + '.jpg'" alt="avatar">
                            <span class="user-name">{{ mainUser.name }}</span>
                        </div>

                        <div class="header-icons">
                            <i class="fa-solid fa-circle-notch"></i>
                            <i class="fa-solid fa-message"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </header>

                    <div class="notice-banner flex">
                        <div class="circle-container">
                            <i class="fa-solid fa-bell-slash"></i>
                        </div>
                        <div class="text">
                            <span>Ricevi notifiche di nuovi messaggi</span>
                            <a href="#">attiva notifiche desktop</a>
                        </div>
                    </div>

                    <!-- search bar  -->
                    <div class="search-bar">
                        <form class="flex">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <input type="text" @keyup="functionSearchName" v-model="searchName"
                                placeholder="Cerca o inizia una nuova chat" name="search">
                        </form>

                    </div>

                    <div class="contacts-container flex-column">

                        <div @click="functionActiveChat(i)" v-for="(contact, i) in conversations" v-if="contact.visible"
                            :class="(i == activeChat) ? 'active' : '' " class="contact flex">
                            <img class="contact-img" :src="'img/avatar' + conversations[i].contactImg + '.jpg'" alt="">

                            <div class="info">
                                <div :class="name">{{ contact.name }}</div>
                                <div class="last-message"> <!--{{ contact.messages[2].message }} --></div>
                            </div>
                            <div class="time">{{ contact.time }}</div>
                        </div>

                    </div>
                </div>


                <!-- parte destra -->
                <div class="right-side">
                    <div class="messages-container">
                        <div class="header flex">
                            <div class="selected-contact flex">
                                <img class="img-user"
                                    :src="'img/avatar' + conversations[activeChat].contactImg + '.jpg'" alt="avatar">
                                <div class="info">
                                    <div class="name">{{ conversations[activeChat].name }}</div>
                                    <div class="last-access">Ultimo accesso oggi all 12:00</div>
                                </div>
                            </div>

                            <div class="header-icons">
                                <i class="fa-solid fa-magnifying-glass"></i>
                                <i class="fa-solid fa-paperclip"></i>
                                <i class="fa-solid fa-ellipsis-vertical"></i>
                            </div>
                        </div>

                        <!-- :class="{my-message: message.sent, recived-message: !message.sent}"  TOFIX-->
                        <div class="conversation">

                            <div v-for="message in conversations[activeChat].messages"
                                :class="(message.sent == true) ? 'my-message' : 'recived-message'" class="message">{{
                                message.message }}
                                <div class="time">{{ message.date }}</div>

                                <!-- menu cancella  -->
                                <div class="dropdown"> <!-- TOFIX non è dropdown  -->
                                    <i @click="menuDeleteVisible(index)" class="fa-solid fa-angle-down"></i>
                                    <div v-show="visible == conversations[activeChat].messages[index]"
                                        >
                                        <ul>
                                            <li>info</li>
                                            <li @click="deleteMessage(index)" class="delete">Cancella messaggio</li>
                                        </ul>   
                                    </div>
                                </div>
                            </div>



                            <!-- <i @click="menuVisible(i)" class="fa fa-chevron-down f-right"></i>

                            <div @click="deleteMessage(i)">cancella messaggio</div> -->
                            <!-- v-show="message.menuDropDown" -->
                            <!-- v-show da display none  -->


                        </div>

                        <div class="insert-message flex">
                            <i class="far fa-smile"></i>

                            <input type="text" class="textarea" placeholder="Scrivi un messaggio"
                                v-model="newMessage.message" @keyup.enter="postSentMessage" />

                            <i class="fa-solid fa-microphone"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="js/script.js"></script>
</body>

</html>