<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
        integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div class="background">
        <div class="backgroung-top-green">


            <div id="app" class="main-app flex">
                <!-- parte sinistra -->
                <div class="left-side flex-column">
                    <header class="header flex">
                        <div class="user flex">
                            <img class="img-user" src="img/avatar_io.jpg" alt="avatar">
                            <span class="user-name">Io, non Sofia</span>
                        </div>

                        <div class="header-icons">
                            <i class="fa-solid fa-circle-notch"></i>
                            <i class="fa-solid fa-message"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </header>

                    <div class="notice-banner flex">
                        <div class="circle-container">
                            <i class="fa-solid fa-bell-slash"></i>
                        </div>
                        <div class="text">
                            <span>Ricevi notifiche di nuovi messaggi</span>
                            <a href="#">attiva notifiche desktop</a>
                        </div>
                    </div>

                    <!-- search bar  -->
                    <div class="search-bar">
                        <form>

                            <input type="text" placeholder="Cerca o inizia una nuova chat" name="search">

                            <!-- <input type="text" class = "fa" placeholder="&#xF002; Cerca o inizia una nuova chat" name="search">  <-- funziona ma font pazzerello -->

                        </form>

                    </div>

                    <div class="contacts-container flex-column">
                        <!-- <div class="contact active flex">
                            <img class="contact-img" src="img/avatar_1.jpg" alt="">

                            <div class="info">
                                <div class="name">Michele</div>
                                <div class="last-message">Arrivedorci!</div>
                            </div>
                            <div class="time">12:00</div>
                        </div>

                        <div class="contact flex">
                            <img class="contact-img" src="img/avatar_1.jpg" alt="">

                            <div class="info">
                                <div class="name">Michele</div>
                                <div class="last-message">Arrivedorci!</div>
                            </div>
                            <div class="time">12:00</div>
                        </div> -->

                        <!-- 'img/avatar' + conversations[i].contactImg + '.jpg' -->
                        <div @click="functionActiveChat(i)" v-for="(contact, i) in conversations"
                            :class="(i == activeChat) ? 'active' : '' " class="contact flex">
                            <img class="contact-img" :src="'img/avatar' + conversations[i].contactImg + '.jpg'" alt="">

                            <div class="info">
                                <div :class="name">{{ contact.name }}</div>
                                <div class="last-message">{{ contact.messages[2].message }}</div>
                            </div>
                            <div class="time">{{ contact.time }}</div>
                        </div>

                    </div>
                </div>


                <!-- parte destra -->
                <div class="right-side">
                    <div class="messages-container">
                        <div class="header flex">
                            <div class="selected-contact flex">
                                <img class="img-user"
                                    :src="'img/avatar' + conversations[activeChat].contactImg + '.jpg'" alt="avatar">
                                <div class="info">
                                    <div class="name">{{ conversations[activeChat].name }}</div>
                                    <div class="last-access">Ultimo accesso oggi all 12:00</div>
                                </div>
                            </div>

                            <div class="header-icons">
                                <i class="fa-solid fa-magnifying-glass"></i>
                                <i class="fa-solid fa-paperclip"></i>
                                <i class="fa-solid fa-ellipsis-vertical"></i>
                            </div>
                        </div>

                        <!-- :class="{my-message: message.sent, recived-message: !message.sent}"  TOFIX-->
                        <div class="conversation">

                            
                            
                            <!-- my-message
                            recived-message -->

                            <div v-for="message in conversations[activeChat].messages" 
                            :class="(message.sent == true) ? 'my-message' : 'recived-message'"
                            class="message">{{
                                message.message }}<div class="time">{{ message.date }}</div>
                            </div>
                           
                        </div>

                        <div class="insert-message flex">
                            <i class="fa-solid fa-face-smile"></i>

                            <input type="text" class="textarea" placeholder="Scrivi un messaggio"
                            v-model="newMessage.message" @keyup.enter="postSentMessage" />

                            <i class="fa-solid fa-microphone"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="js/script.js"></script>
</body>

</html>